*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(104, 104, 226);
}

.green{
    background-color: rgb(255, 255, 255);
}

.blue{
    background-color: rgb(47, 120, 255);
}